@tailwind base;
@tailwind components;
@tailwind utilities;

/* Page Layout */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5c4f6;
}

/* Main Home Title Look */

.homeHeader {
  text-align: center;
  font-size: 50px;
}

/* Nav Bar e.g home, about... */

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}

.home {
  color: #000;
  text-decoration: none;
}

.about {
  color: #000;
  text-decoration: none;
}

.User {
  color: #000;
  text-decoration: none;
}

.custom {
  color: #000;
  text-decoration: none;
}

.play {
  color: #000;
  text-decoration: none;
}

.lb {
  color: #000;
  text-decoration: none;
}

/* Logo Image Of The Snake */

.mainImage {
  border-radius: 150px;
  align-items: center;
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: center;
  font-weight: bold;
}

/* Sign In Button */

.signIn {
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  width: 60px;
  height: 25px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -20%);
}


.signIn:hover {
  border: 5px #fff solid;
  transition: 0.5s;
  background-color: #fff;
  color: black;
  align-items: center;
}

.signUp {
  align-items: center;
  background-color: aqua;
}
/* Footer Of The Page */

.footer {
  position: absolute;
  left: 0;
  bottom: -300px;
  width: 100%;
  height: 65px;
  background-color: #faf8c4;
  color: #000;
  text-align: center;
}
